@import "../config/vars";

.form {
  max-width: 71rem;
  width: 100%;
  justify-content: space-between;
  //grid-row-gap: 2.4rem;
  label {
    margin-bottom: 2.4rem;
  }
  button {
    margin-top: 0.8rem;
  }
}
