$maxScreen: 1440;
$maxContainer: 1200;
$tabletBreakPoint: 1024 + 1;
$mobileBreakPoint: 768 + 1;
$mobileExtraBreakPoint: 480 + 1;
$fzParent: 10;
$fzDefault: 16;
$fz: #{calc($fzDefault / $fzParent)}rem;
$lh: calc(19 / $fzDefault) * 1em;
$ff: "Inter";
$transition: all 0.16s linear;

$maxGutter: 15;
$minGutter: 8;
$gutter: clamp(calc($minGutter / 10) * 1rem, calc($maxGutter / $maxScreen) * 100%, calc($maxGutter / 10) * 1rem);

$cDark: #000;
$cDarkOp: rgba($cDark, 0.6);
$cLight: #fff;
$cLightOp: rgba($cLight, 0.6);
$cGrey: #F7F7F7;
$cAccent: #C3F84F;
$cAccentDarker: mix(black, $cAccent, 13%);
$cAccentOp: rgba($cAccent, 0.69);
$cError: #F48181;
$cBackground: #1F3221;

$cChart1: darken( $cAccent, 25);
$cChart2: #6BBEFB;
