@import "../config/vars";

.title {
  margin-bottom: 0.8rem;
}

.sub-title {
  color: $cLightOp;
  font-weight: 300;
  margin: 0 0 3.2rem;
  line-height: calc(19 / 16) * 1em;
}

.col-1, .col-2 {
  flex-grow: 1;
}

.col-1 {
  max-width: 71rem;
  margin-right: calc(24 / $maxContainer) * 100%;
  justify-content: space-between;
}

.col-2 {
  max-width: 42.6rem;
  margin: -6.1rem 0;
  padding: 6.1rem calc(24 / $maxContainer) * 100%;
  background-image: url(/assets/images/background-grid-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  div:first-child {
    margin-right: 0.8rem;
  }
}


@media (max-width: #{$tabletBreakPoint}px) {
  .header-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-1 {
    margin-right: 0;
  }
  .col-2 {
    background-image: url(/assets/images/background-grid-3.png);
    margin: 3.2rem 0 0;
    padding: 2.4rem calc(24 / $mobileBreakPoint) * 100% 2.4rem;
    max-width: 71rem;
    div:first-child {
      margin-right: 1.6rem;
    }
  }
}

