@import "~normalize.css/normalize.css";
@import "./config";

:root {
  --cAccent: #{$cAccent};
  --cAccentDarker: #{$cAccentDarker};
  --cDark: #{$cDark};
  --cChart1: #{rgba($cChart1, .6)};
  --cChart2: #{rgba($cChart2, .6 )};
  --cChartFocus1: #{$cChart1};
  --cChartFocus2: #{$cChart2};
  --cChartHover1: #{rgba($cChart1, .2)};
  --cChartHover2: #{rgba($cChart2, .2)};
  --ff: #{$ff};
  --fz: #{$fz};
  --lh: #{$lh};
  --maxContainer: #{$maxContainer};
  --maxScreen: #{$maxScreen};
  --maxGutter: #{$maxGutter};
  --minGutter: #{$minGutter};
}
